body {
    background-color: #FFFFFF;
}

body, input, p, h, label, span, div {
    font-family: 'Noto Sans', "Helvetica Neue", Arial, sans-serif;
    color: #022837;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #022837;
}
.navbar-light .navbar-nav .nav-link {
    color: #022837;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #fd7e14;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fd7e14;
    cursor: pointer;
}

.navbar a.navbar-brand, .exam-title h3, 
.quiz-canvas .card-header > label, 
.main-box .card-header,
.quiz-result .card-header,
.user-result,
.help .help-box .card-header,
.help .accordion-button, 
.quiz-timer {
    font-family: 'Saira Condensed',  "Helvetica Neue", Arial, sans-serif; 
    color: #04648a;
}

.navbar a.navbar-brand, .exam-title h3, .quiz-canvas .card-header > label, .main-box .card-header {
    color: #04648a;
}

.quiz-canvas .card-header > label, 
.main-box .card-header, 
.quiz-result .card-header,
.help .help-box .card-header,
.help .accordion-button {
    font-size: 1.2rem;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #82b2c5;
    border-color: #82b2c5;
}
.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    pointer-events: none;
    opacity: .65;
}
.btn-primary {
    color: #fff;
    background-color: #04648a;
    border-color: #04648a;
}
.btn-primary:hover {
    color: #fff;
    background-color: #034661;
    border-color: #034661;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #034661;
    border-color: #034661;
    box-shadow: 0 0 0 0 rgba(92, 126, 162, 0.5);
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}

/* Rules for sizing the icon. */
.material-icons.md-18, .material-icons-outlined.md-18 { font-size: 18px; }
.material-icons.md-24, .material-icons-outlined.md-24 { font-size: 24px; }
.material-icons.md-36, .material-icons-outlined.md-36 { font-size: 36px; }
.material-icons.md-48, .material-icons-outlined.md-48 { font-size: 48px; }

.quiz-canvas .card-body , .quiz-canvas .card-header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main-box{
    margin-top: 1em;
}

.exam-options {
    margin-bottom: 20px;
}

.no-options {
    margin-top: 5em;
}

.exam-options > .form-check, #answers > .form-check {
    padding-top: 10px;
    padding-bottom: 10px;
}

.exam-options > .form-check {
    font-size: 1.25em;
    border-bottom: 1px dotted #dddddd;
}

.exam-options  .form-check:hover, .exam-options  .form-check-label:hover,
.answer-options   .form-check:hover, .answer-options  .form-check-label:hover
{
    cursor: pointer;
    background-color: #e6f0f3 ;
}

.exam-options  .form-check-input[type=radio] ,
.answer-options  .form-check-input[type=radio] {
    margin-left: -0.75em;
}

.exam-options  .form-check-label,
.answer-options  .form-check-label {
    display: block;
    padding-left: 20px;
}

.exam-options .form-check small {
    padding-left: 20px;
    font-size: .675em;
    color: #a9a9a9;
}

.exam-title {
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
    padding-bottom: 1em;
}

.exam-title small {
    color: #a9a9a9;
}

.quiz-desc {
    font-size: 1.1em;
    padding-bottom: 20px;
    text-align: justify;
}

.correct-ans {
    background-color: #ffecb5;
}

#reason {
    padding-top: 20px;
}

.quiz-result h3.center,
.quiz-result h2.center {
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}

button.exit-quiz, button.ans-back-next {
    min-width: 80px;
}

.footer {
    color: white;
    text-align: center;
}

.help .quiz-help h1, 
.help .quiz-help h2,
.help .quiz-help h3, 
.help .quiz-help h4,
.help .quiz-help h5{
    color: #04648a;
    font-weight: 700;
}

.help .quiz-help .help-context {
    padding: 1em 1em;
}

.help .lines {
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 5px solid #fd7e14;
    background-color: transparent;
    margin-top: 2em;
    margin-bottom: 2em;
    opacity: .5;
}


.help .help-context code {
    font-size: 1em;
}

.help .help-context ul li {
    padding-top: 0.5em;
}

.help .help-box .alert small {
    font-size: 0.75rem;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(0,0,0,.03);
    box-shadow: none;
}

.help .btn .material-icons,
.help .btn .material-icons-outlined {
    font-size: .875rem;
}

.exam-options .form-check .material-icons, 
.exam-options .form-check .material-icons-outlined {
    font-size: 1em;    
}


.info-box {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
    width: 100%;
}

.info-box .info-box-icon {
    border-radius: 0.25rem;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.info-box .info-box-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.8;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}

.info-box .info-box-text, .info-box .progress-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.info-box .info-box-number {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.75rem;
}

.width-50 {width: 50px !important;}
.width-70 {width: 70px !important;}
.width-100 {width: 100px !important;}
.width-120 {width: 120px !important;}
.width-150 {width: 150px !important;}
.width-200 {width: 200px !important;}

.exam-options a.opt-test, .exam-options a.opt-test:active, .exam-options a.opt-test:focus,
.exam-options a.opt-quiz, .exam-options a.opt-quiz:active, .exam-options a.opt-quiz:focus {
    text-decoration: none;
}

.exam-options .opt-test:hover, .exam-options .opt-test .info-box:hover,
.exam-options .opt-quiz:hover, .exam-options .opt-quiz .info-box:hover {
    background-color: #e6f0f3 ;
}

.exam-options .info-box .info-box-icon .material-icons, 
.exam-options .info-box .info-box-icon .material-icons-outlined,
.exam-options .opt-quiz .info-box .info-box-icon .material-icons,
.exam-options .opt-test .info-box .info-box-icon .material-icons, 
.exam-options .opt-quiz .info-box .info-box-icon .material-icons-outlined,
.exam-options .opt-test .info-box .info-box-icon .material-icons-outlined {
    color: #FFFFFF;
    font-size: 1.875rem;
}


a.opt-test.disabled  .info-box-text, 
a.opt-test.disabled:hover,
a.opt-test.disabled .info-box-number,
a.opt-quiz.disabled  .info-box-text, 
a.opt-quiz.disabled:hover,
a.opt-quiz.disabled .info-box-number {
    color: #CCCCCC;
    background-color: #FFFFFF;
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
}
a.opt-test.disabled .info-box-icon,
a.opt-quiz.disabled .info-box-icon {
    background-color: rgba(210, 214, 222, 1) !important;
}

.opt-quiz .info-box .bg-orange{
    background-color: #fd7e14 !important;
    opacity:  1;
}

.quiz-timer {
    color: #28a745;
    font-size: 1.25em;
}

.quiz-timer.active {
    color: #dc3545;
}

.exam-options a.opt-quiz .bg-done {
    background-color: rgba(0,0,0,.03) !important;
}

.exam-options a.opt-quiz .info-box.marked{
    opacity: 0.7;
}

.exam-options a.opt-quiz .info-box.marked .info-box-icon {
    background-color: rgba(210, 214, 222, 1) !important;
}

.exam-options a.opt-quiz .info-box.marked .material-icons,
.exam-options a.opt-quiz .info-box.marked .material-icons-outlined{
    color: #022837;
}